button#lyrics-display {
  display: flex;
  position: fixed;
  top: 200px;
  right: 100px;
  transform: translate(var(--translateX, 0px), var(--translateY, 0px));
  border-radius: 100%;
  border: none;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  background-color: #fb7299;
  color: white;
  cursor: pointer;
  z-index: 1;
}
