#lyrics-display {
  --ld-theme-color: #39c5bb;
  --ld-inactive-color: #666;
  --ld-background-color: #1e1e1e;
  --ld-text-color: white;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}
