:root {
  --ld-theme-color: #39c5bb;
  --ld-inactive-color: #666;
  --ld-background-color: #1e1e1e;
  --ld-text-color: white;
}

.app {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}
.appHidden {
  composes: app;
  display: none;
}

.content {
  position: fixed;
  display: flex;
  z-index: 99999;
}
.north {
  top: var(--yBuff, 0);
  flex-direction: column;
}
.south {
  bottom: var(--yBuff, 0);
  flex-direction: column-reverse;
}
.west {
  left: var(--xBuff, 0);
  align-items: flex-start;
}
.east {
  right: var(--xBuff, 0);
  align-items: flex-end;
}
.contentNW {
  composes: content north west;
}
.contentNE {
  composes: content north east;
}
.contentSW {
  composes: content south west;
}
.contentSE {
  composes: content south east;
}
