#lyrics-display-controls {
  --ld-theme-color: #39c5bb;
  --ld-inactive-color: #666;
  --ld-background-color: #1e1e1e;
  --ld-text-color: white;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

#lyrics-display-controls {
  margin: 0;
  padding: 0;
  min-width: 360px;
  max-width: 1280px;
  min-height: 100vh;
  background-color: var(--ld-background-color);
  color: var(--ld-text-color);
}

#lyrics-display-controls .root {
  margin: 20px;
}

#lyrics-display-controls .power {
  display: flex;
  justify-content: center;
}

#lyrics-display-controls .power-btn {
  align-self: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  cursor: pointer;
  color: var(--ld-inactive-color);
  box-shadow: 0 0 10px var(--ld-inactive-color);
  background: var(--ld-background);
}

#lyrics-display-controls .power-btn.active {
  color: var(--ld-theme-color);
  box-shadow: 0 0 10px var(--ld-theme-color);
  background: radial-gradient(color-mix(var(--ld-theme-color) 25%, transparent), transparent 50%, transparent);
}
