.settings {
  margin: 10px 0;
  padding: 10px;
  min-width: 300px;
  min-height: 400px;
  background-color: var(--ld-background-color);
  color: var(--ld-text-color);
}
.settingsHidden {
  composes: settings;
  display: none;
}
